*,::before,::after{ margin: 0; box-sizing: border-box}
a{ text-decoration: none;}
button{ padding: 0; cursor: pointer;}
ul{ list-style: none; padding: 0;}
img{ vertical-align: bottom;}

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNovaThin-webfont.woff2);
    font-weight: 100;
    font-display: swap;
}

html{
    font-size: 15px;
    --red:#ca3c3c;
    --dg:#363636;
    --lg:#ebebeb;
    --ff:proxima, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    font: 16px var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}


.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.3333%; max-width: 8.3333%;}
.col-2{ flex-basis: 16.6667%; max-width: 16.6667%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.3333%; max-width: 33.3333%;}
.col-5{ flex-basis: 41.3336%; max-width: 41.3336%;}
.col-6{ flex-basis: 50%; max-width: 50%;} 
.col-7{ flex-basis: 58.3333%; max-width: 58.3333%;} 
.col-8{ flex-basis: 66.6667%; max-width: 66.6667%;} 
.col-9{ flex-basis: 75%; max-width: 75%;} 
.col-10{ flex-basis: 83.3333%; max-width: 83.3333%;} 
.col-11{ flex-basis: 91.6667%; max-width: 91.6667%;} 
.col-12{ flex-basis: 100%; max-width: 100%;} 
.img-resp{ max-width: 100%; height: auto;} 
.flex{ display: flex;}
.justify-space-between{ justify-content: space-between;}
.align-center{ align-items: center;}


/* custom code */
header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
header h1{ font-size: 30px; line-height: 80px; }
header h1 a{ display: inline-block; color: inherit;}
nav{ margin-left: -20px;}
nav li{ margin: 0 5px; }
nav a{ display: block; color: inherit; line-height: 80px; padding: 0 1rem; }
.btn{ width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff); }


.banner{ background: #666; color: #fff;}
.video{ padding: 20rem 0;}
.video button{ background: none; border: none; font-size: 10rem; color: inherit; margin-right: 40px;}
.video p{ font-size: 4rem; color: inherit; font-weight: 100; }
.video a{ color: var(--red); }


.wrap-3{ background: var(--red); color: #fff; padding: 50px 0;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid; margin-bottom: 2rem;}
.circle{ width: 100px; aspect-ratio: 1/1; border: 2px solid; border-radius: 50%; flex-shrink: 0; display: grid; place-items: center; font-size: 36px; margin-right: 2rem;}
.feature h3{ font-size: 16px; line-height: 30px; }
.feature p{ font-size: 14px; font-weight: 100; line-height: 22px; }
.gap-y{ gap: 4rem 0;}


.wrap-4{ color: var(--red); font-size: 36px; line-height: 10rem; text-align: center;}


.wrap-5{ background: var(--lg); color: var(--dg); padding: 100px 0;}
.wrap-5 .btn{ margin: 0 10px 4rem 0;}
.btn.active{ background: var(--red); color: #fff; border-color: var(--red);}
.work{ position: relative; margin-bottom: 2rem; overflow: hidden; }
.work .over{ background: #fff; position: absolute; left: 0; right: 0; bottom: -100px; text-align: center; padding: 2rem 0; opacity: 0; transition: 500ms;}
.work h3{ font-size: 18px; color: var(--red); margin-bottom: 1.5px;}
.work p{ font-size: 14px; color: #898989;}
.work:hover .over{ opacity: 1; bottom: 0;}
.seemore{ border: none; background: none; color: var(--red); font-size: 36px;}
.work img{ width: 100%; }



.wrap-6{ padding: 4rem 0 2rem; background: #666; color: #fff; text-align: center;}
.slide{ display: none; }
.slide.active{ display: block; }
.slide blockquote q{ font: 100 36px/41px var(--ff); }
.slide img{ margin: 17px 0 10px;}
.slide figcaption{ font-size: 16px; font-weight: bold;}
.pager{ justify-content: center; margin-top: 2rem; }
.pager li{ margin: 5px; }
.pager a{ display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%; }
.pager a.active{ background: #fff;}


.wrap-7{ background: var(--lg); color: var(--dg); padding: 100px 0;}
.team{ position: relative; margin-top: 50px; }
.social{ position: absolute; left: 140px; top: 60px;}
.social li{ margin-right: 10px;}
.social a{ display: block; font-size: 24px; width: 50px; line-height: 50px; border-radius: 50%; background: var(--red); color: #fff; text-align: center;}
.gap{ margin: 50px 0 0 100px;}
.gap h3{ font-size: 18px; color: var(--red);}
.gap small{ font-size: 14px; font-weight: 100; color:#898989}
.gap p{ font-size: 14px; font-weight: 100; color: #363663; line-height: 22px; margin: 30px 0 33px;}


.wrap-8{ background: #666; color: #fff; padding: 85px 0 0 0; text-align: center;}
.wrap-8 span{ font-size: 72px;}
.wrap-8 p{ font-size: 72px; font-weight: 100;}
.wrap-8 b{ font-size: 18px; margin-bottom: 85px; display: block; }


.wrap-9{ background: #fff; color: #363636; padding: 100px 0;}
canvas:empty{ background: #ddd; margin-top: 50px; border-radius: 50%;}
.accordion{ margin-top: 50px;}
.accordion li{ margin-bottom: 10px;}
.accordion a{ display: block; border: 1px solid #ebebeb; padding: 19px; border-radius: 10px; color: #898989;}
.accordion a span{ margin-right: 24px;}
.accordion p{ font-size: 14px; font-weight: 100; color: #363636; line-height: 22px; margin: 20px; display: none;}
.accordion a::after{ content: "+"; float: right;}
.accordion li:first-child p{ display: block;}
.accordion li a.active{ color: var(--red);}
.accordion li a.active::after{ content: '-';}

.wrap-10{ background: var(--red); padding: 23px 0 22px;}
.wrap-10 input{ background: none; border: none; height: 35px; width: 370px; color: #fff; font: 100 36px var(--ff);}
.wrap-10 input::placeholder{ color: #fff;}
.wrap-10 button{ background: #fff; }


.wrap-11{ background: #7f7f7f; padding: 28px 0 0 0; }
.box{ color: #fff; font-size: 24px; background: #a6a6a6; line-height: 95px; text-align: center; margin-bottom: 27px;}


.wrap-12{ background: var(--lg); color: var(--dg); padding: 100px 0;}
.soc{ margin: 20px 0;}
.soc a{ color: var(--red); margin-right: 1rem;}
.wrap-12 label{ display: block; border: 2px solid #363636; margin: 1rem 0; padding: 1rem; }
.wrap-12 input{ border: none; background: none;}
.wrap-12 textarea{ border: none; background: none; resize: none; height: 45.5px; vertical-align: top;}
.wrap-12 button{ font-size: 16px; width: 100%; height: 80px; background: #fff; border: none; border-radius: 10px; color: var(--red); margin: 1rem 0;}
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}


.wrap-13{ background: #252525; color: #555; padding: 50px 0; text-align: center;}
.wrap-13 h3{ color: #fff;}
.wrap-13 p{ margin: 10px 0; }
.top{ border: none; background: none; font-size: 36px; color: var(--red);}


@media screen and (max-width:1220px){
    html{ font-size: 13px;}
    h2{ font-size: 62px;}
}

@media screen and (max-width:980px){
.col-t-1{ flex-basis: 8.3336%; max-width: 8.3336%;}
.col-t-2{ flex-basis: 16.6667%; max-width: 16.6667%;}
.col-t-3{ flex-basis: 25%; max-width: 25%;}
.col-t-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.col-t-5{ flex-basis: 41.3336%; max-width: 41.3336%;}
.col-t-6{ flex-basis: 50%; max-width: 50%;} 
.col-t-7{ flex-basis: 58.3336%; max-width: 58.3336%;} 
.col-t-8{ flex-basis: 66.6667%; max-width: 66.6667%;} 
.col-t-9{ flex-basis: 75%; max-width: 75%;} 
.col-t-10{ flex-basis: 83.3336%; max-width: 83.3336%;} 
.col-t-11{ flex-basis: 91.6667%; max-width: 91.6667%;} 
.col-t-12{ flex-basis: 100%; max-width: 100%;} 
.video p{ font-size: 3rem;}
.gap{ margin-left: 50px;}
.col-t-hide{ display: none;}
.col-t-auto{ flex: 1 0 33.33%; max-width: 50%;}
}


@media screen and (max-width:767px){
    .col-m-6{ flex-basis: 50%; max-width: 50%;} 
    html{ font-size: 12px;}
    h2{ font-size: 60px;}
    .wrap-5 .btn{ margin-right: 6px;}
    .collapse{ display: none;}
}

@media screen and (max-width:460px){
.col-p-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.col-p-6{ flex-basis: 50%; max-width: 50%;} 
.col-p-12{ flex-basis: 100%; max-width: 100%;} 

.video .flex{ flex-flow: column wrap;}
.video p{ font-size: 2rem; margin-top: 2rem;}
.video button{ margin-right: 0;}
.wrap-8 p{ font-size: 54px;}
.wrap-10 input{ width: 235px; font-size: 24px; }
canvas{ max-width: 100%;}
.col-t-auto{ flex: 1 0 50%; max-width: 100%;}
}